.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-black {
  background-color: black;
  color: white;
}

.carousel-caption {
  text-shadow: 2px 2px 3px black;
  top: 20px;
}

.carousel-caption img {
  width: 100%;
}

.carousel-image {
  height: 500px;
  width: 100%;
}

.carousel-item {
  background-color: black;
  min-height: 400px;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

#nav-span {
  margin: 0 auto;
}

.outlier-nav {
  background-image: url(img/tampasky.png);
  background-repeat: no-repeat;
}

#root {
  background-color: black;
}

@media screen and (max-width: 376px) {
  .carousel-image {
    height: 400px;
    width: 100%;
  }
}
